


.alertClose{
    position: absolute;
    right: 5px;
    top: -15px;
    font-size: 25pt;
    color: white;
    cursor: pointer;
}

.alertClose:hover{
    opacity: .8;
}

.alertText{
    color: white;
}

.take-care{
    margin-top: 5px;
}

.alertBox{
    opacity: 0;
    position: relative;
    width: 300px;
    min-height: 50px;
    padding: 5px 25px 5px 5px;
    border-radius: 5px;
    background-color: green;
    margin: 10px;
    transition: all .5s ease;
}

#alertArea {
    position: fixed;
    top: 60px;
    height: auto;
    max-height: 90%;
    right: 0;
    width: 320px;
    overflow-y: scroll;
    z-index: 3000;
}

.user_setings_title {
    font-size: 24px;
    color: #404040;
    font-weight: 600;
}

.lk_menu_user_setings {
    float: right;
}

.lk_nav_menu li a {
    display: table;
    height: 59px;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    text-align: center;
    padding: 0 18px;
}

.lk_nav_menu li a:hover{
    border-bottom: 2px solid black;
    text-decoration: none;
}

.cabActive{
    border-bottom: 2px solid black !important;
    text-decoration: none !important;
}

.lk_nav_menu li a:hover .drop_count{
    color: #000000;
    border: solid 1px #000000;
}

.lk_nav_menu li {
    display: inline-block;
    text-align: center;
    height: 50px;
}

.lk_nav_menu ul{
    margin-top: 0px;
    display: inline-block;
    width: 100%;
    padding: 0;
    list-style: none;
    height: 50px;
    margin-bottom: 0;
}
.lk_nav_menu {
    margin-top: -10px;
}

.drop_count {
    min-width: 24px;
    height: 24px;
    line-height: 22px;
    border: solid 1px #b2b2b2;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin-left: 10px;
    padding: 0 5px;
    color: #b2b2b2;
    font-size: 12px;
    display: inline-block;
}


hr {
    border-bottom: 1px solid #bababa;
    margin: 10px 0;
}

body{
    background-color: #fff;
}

.social {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.top_imgcontent {
    margin-top: 64px;
}
.top_imgcontent a {
    display: table;
    width: 100%;
    height: 51px;
    margin-bottom: 10px;
	position:relative;
	border-right:none;
	border-bottom-width:0;
	border-top-width:0;
    background: url("../img/home_banner_a.png") no-repeat top left;
    color:#000;
    font-size: 24px;
    line-height: 51px;
    font-weight: 300;
    padding-left: 20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
    text-decoration: none;
}

.top_imgcontent a:hover {
	border:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    text-decoration: none;
	
}

.betta{
    position: absolute;
    display: table;
    background: url("../img/betta.png")no-repeat;
    left: 50%;
    top: 100px;
    width: 153px;
    height: 113px;
    z-index: 1;
    margin-left: -58px;
}

.banner{
    width: 100%;
    display: block;
    height: auto;
    overflow: hidden;
    position: relative;
	/* margin-top: 46px;*/
    /*-webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s;*/
    border-bottom: solid 1px #000;
}
.bl_top_img {
    display: table;
    width: 100%;
    position: relative;
    height: 544px;
}
.top_img_left {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-left: 0px;
    margin-top: 1px;
    position: absolute;
    left: 0;
    top: 0;
	z-index:1
}
.top_img_logo {

    margin-top: 64px;
}
.top_img_logo img{
    max-width: 100%;
}
.top_imgcontent {
    margin-top: 64px;


}
.top_imgcontent a {
    display: table;
    width: 100%;
    height: 51px;
    margin-bottom: 10px;
	position:relative;
	border-right:none;
	border-bottom-width:0;
	border-top-width:0;
    background: url("../img/home_banner_a.png") no-repeat top left;
    color:#000;
    font-size: 24px;
    line-height: 51px;
    font-weight: 300;
    padding-left: 20px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.top_imgcontent a:hover {
	border:none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
	
}


.parallaximg {
    float: right;
    position: absolute;
    left: 0;

    bottom: 0px;
    width: 100%;

    height: 544px;
    background: url(../img/top_img2.jpg) no-repeat 440px top;
}

/*end top container home page */

.menubg {
    background: black;
}

.logo_header {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(../img/logo_header.svg) center center no-repeat;
    background-size: 25px;
}

.reg-login-img{
    display: inline-block;
    height: 15px;
    width: 25px;
    transform: translate(0, 2px);
    background: url(../img/login.svg) center center no-repeat;
    background-size: 15px;
}
.reg-register-img{
    display: inline-block;
    height: 15px;
    width: 25px;
    transform: translate(0, 2px);
    background: url(../img/register.svg) center center no-repeat;
    background-size: 15px;
}

.close_header_search {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #b2b2b2;
    display: inline-block;
    font-size: 25px;
    line-height: 25px;
    font-weight: 100;
    text-decoration: none;
}
.searchcontainer {
    padding: 85px 0;
    position: relative;
}

.header_searsh {
    margin: 5px 10px;
    position: static;
}

.searchBtn {
    display: inline-block;
    height: 25px;
    width: 45px;
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid gray;
    background: url(../img/search.svg) center center no-repeat;
    background-size: 16px;
    border-radius: 4px;
}

.searchInput {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1050;
    transition: all 1s ease;
}

.searchInputText {
    padding: 10px;
}

.z_ind {
    z-index: 1060;
    display: none;
    position: fixed;
    width: 100%;
    top: 60px;
    left: 0;
    opacity: 0;
    transition: all 1s ease;
}

#loginForm {
    display: none;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 800;
    transition: all 1s ease;
}

#registerForm {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 800;
    overflow-y: scroll;
    transition: all 1s ease;
    margin-bottom: 10px;
}

.logBG {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 750;
    transition: all 1s ease;
}



.social {
    list-style-type: none;
}


.footer_bottom {
    background: #e3e3e3;  
    padding: 10px;
}

.footer_top {
    display: table;
    width: 100%;
    border-top: #dddddd solid 1px;
    border-bottom: #dddddd solid 1px;
    background: #edeff1;
    padding-top: 35px;
    padding-bottom: 34px;
}

.onBottom {
    display: inline-flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
}

.onTop {
    z-index: 800;
}

.dark {
    background-color: rgba(34, 34, 34, .9);
    color: white;
}

.dark:hover{
    background-color: rgba(34, 34, 34, .8);
    color: white;
}

.logged_in {
    display: inline-block;
    height: 25px;
    width: 60px;
    margin-left: 15px;
    margin-top: 10px;
    border: 1px solid gray;
    background: url(../img/logged_in.svg) center center no-repeat;
    background-size: 45px;
    border-radius: 4px;
}


.footer_top_title {
    color: #54697e;
    font-weight: 600;
    font-size: 18px;
    display: table;
    width: 100%;
    text-transform: uppercase;
}

.navCenter li a{
    border-bottom: 2px solid gray;
}

.navCenter .activeBid a{
    color: black;
    border-bottom: 2px solid black;
}

.navCenter .activeBid a span{
    color: black;
    border-color: black;
}

.navCenter {
    text-align: center;
}

.bl_grid_a {
    display: inline-block;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 0;
    vertical-align: middle;
}


.bit_body {
    position: relative;
    min-height: 130px;
    margin: 3px 0;
    border: 1px solid black;
    padding: 15px 0;
}

.lot_photo {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 3px;
    float: inherit;
    overflow: hidden;
}

.lot_photo img {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width:200px;
    max-height:200px;
}

.pheading {
    font-size: 16pt;
    margin: 0;
}

.biter_name {
    color: darkgray;
    display: block;
    margin: -15px 0 0 0;
}

.catalog {
    color: darkgray;
    display: block;
}

/* ===================css switch=================*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.top_right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.borderRight {
    border-right: 1px solid black;
}

.borderLeft {
    margin-left: -1px;
    border-left: 1px solid black;
}

.bitButton {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 100px;
    border: 1px solid black;
    overflow: hidden;
    transition: all .4s ease;
    opacity: .4;
}

.bitButton:hover{
    opacity: .8;
}

.bitRize {
    background: black;
    color: white;
    height: 100%;
    border: none;
    position: absolute;
    font-size: 10pt;
    padding: 0 9px;
    top: 0;
    left: -1px;
}

.bitInput {
    position: relative;
    width: 40px;
    margin-left: 46px;
    border: none;
}

.deleteBit {
    font-size: 16pt;
    position: absolute;
    right: 10px;
    top: 7px;
}


.th_list, .th_td, .th_large {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
    opacity: .5;
}

.bl_grid_a a:hover{
    opacity: 1;
}
.th_list {
    background-image: url('/img/three_menu_lines.png');
}

.th_large{
    background-image: url('/img/four_menu_squares.png');
}

.th_td{
    background-image: url('/img/nine_menu_squares.png');
}

.activeBTN {
    opacity: 1;
}



.selectBOX {
    background: white;
    border: 1px solid black;
    border-radius: 0;
}

.activeBOX {
    background-color: black;
}

.outputCount a:hover{
    background-color: black;
}

.lotBlock {
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 3px;
    height: 255px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 125px 10px 10px 10px;
}

.lotBlock a{
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.lotImg {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 122px;
    overflow: hidden;
}

.lotImg img{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.lotBlockBTNS {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: block;
    width: 40px;
    height: 25px;
}

.fafavorite {
    position: absolute;
    top: 0;
    right: 0;
}

.fafavorite i{
    cursor: pointer;
}

.facalendar {
    position: absolute;
    top: 0;
    left: 0;
}
.facalendar i{
    cursor: pointer;
}

.faBTNS {
    position: relative;
}


/*Auctioncabinet catalog view */

#header_img {
    width: 100% !important; 
}
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1031;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.bitNR{
    padding: 20px;
    color: black;
}

.bitNRBTN {
    padding: 22px;
    color: white;
    background-color: rgba(0,0,0,.7);
    border: none;
}

.bitNRBTN:hover{
    background-color: rgba(0,0,0,.5);
}
